<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>recruitPortal</display-name>
  <welcome-file-list>
    <welcome-file>Index</welcome-file>
  </welcome-file-list>
  
  <!-- 配置一个过滤器，用于拦截所有的请求 -->
  <filter>
    <display-name>BaseFilter</display-name>
    <filter-name>BaseFilter</filter-name>
    <filter-class>com.cqut.recruitPortal.servlet.BaseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BaseFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>OperatorTypeServlet</display-name>
    <servlet-name>OperatorTypeServlet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorTypeServlet</servlet-name>
    <url-pattern>/admin/OperatorTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>处理用户登录</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsTypeServlet</display-name>
    <servlet-name>NewsTypeServlet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsTypeServlet</servlet-name>
    <url-pattern>/admin/NewsTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsSerlvet</display-name>
    <servlet-name>NewsSerlvet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsSerlvet</servlet-name>
    <url-pattern>/admin/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorServlet</display-name>
    <servlet-name>OperatorServlet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorServlet</servlet-name>
    <url-pattern>/admin/OperatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionServlet</display-name>
    <servlet-name>PermissionServlet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.PermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionServlet</servlet-name>
    <url-pattern>/admin/PermissionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorTypeAddServlet</display-name>
    <servlet-name>OperatorTypeAddServlet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorTypeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorTypeAddServlet</servlet-name>
    <url-pattern>/admin/OperatorTypeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorTypeInitEdit</display-name>
    <servlet-name>OperatorTypeInitEdit</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorTypeInitEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorTypeInitEdit</servlet-name>
    <url-pattern>/admin/OperatorTypeInitEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorTypeEditServlet</display-name>
    <servlet-name>OperatorTypeEditServlet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorTypeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorTypeEditServlet</servlet-name>
    <url-pattern>/admin/OperatorTypeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorTypeDelete</display-name>
    <servlet-name>OperatorTypeDelete</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorTypeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorTypeDelete</servlet-name>
    <url-pattern>/admin/OperatorTypeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsTypeAdd</display-name>
    <servlet-name>NewsTypeAdd</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsTypeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsTypeAdd</servlet-name>
    <url-pattern>/admin/NewsTypeAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsTypeInitEdit</display-name>
    <servlet-name>NewsTypeInitEdit</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsTypeInitEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsTypeInitEdit</servlet-name>
    <url-pattern>/admin/NewsTypeInitEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsTypeEdit</display-name>
    <servlet-name>NewsTypeEdit</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsTypeEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsTypeEdit</servlet-name>
    <url-pattern>/admin/NewsTypeEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsTypeDelete</display-name>
    <servlet-name>NewsTypeDelete</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsTypeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsTypeDelete</servlet-name>
    <url-pattern>/admin/NewsTypeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorInitAdd</display-name>
    <servlet-name>OperatorInitAdd</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorInitAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorInitAdd</servlet-name>
    <url-pattern>/admin/OperatorInitAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorAdd</display-name>
    <servlet-name>OperatorAdd</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorAdd</servlet-name>
    <url-pattern>/admin/OperatorAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorDetail</display-name>
    <servlet-name>OperatorDetail</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorDetail</servlet-name>
    <url-pattern>/admin/OperatorDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorDelete</display-name>
    <servlet-name>OperatorDelete</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorDelete</servlet-name>
    <url-pattern>/admin/OperatorDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorInitEdit</display-name>
    <servlet-name>OperatorInitEdit</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorInitEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorInitEdit</servlet-name>
    <url-pattern>/admin/OperatorInitEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoUpload</display-name>
    <servlet-name>PhotoUpload</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.PhotoUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoUpload</servlet-name>
    <url-pattern>/admin/PhotoUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorEdit</display-name>
    <servlet-name>OperatorEdit</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.OperatorEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorEdit</servlet-name>
    <url-pattern>/admin/OperatorEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadImage</display-name>
    <servlet-name>LoadImage</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.LoadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadImage</servlet-name>
    <url-pattern>/LoadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionInitEdit</display-name>
    <servlet-name>PermissionInitEdit</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.PermissionInitEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionInitEdit</servlet-name>
    <url-pattern>/admin/PermissionInitEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermissionEdit</display-name>
    <servlet-name>PermissionEdit</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.PermissionEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionEdit</servlet-name>
    <url-pattern>/admin/PermissionEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/admin/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsAdd</display-name>
    <servlet-name>NewsAdd</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsAdd</servlet-name>
    <url-pattern>/admin/NewsAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsInitAdd</display-name>
    <servlet-name>NewsInitAdd</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsInitAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsInitAdd</servlet-name>
    <url-pattern>/admin/NewsInitAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsPublish</display-name>
    <servlet-name>NewsPublish</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsPublish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsPublish</servlet-name>
    <url-pattern>/admin/NewsPublish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsCanclePublish</display-name>
    <servlet-name>NewsCanclePublish</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsCanclePublish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsCanclePublish</servlet-name>
    <url-pattern>/admin/NewsCanclePublish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsDelete</display-name>
    <servlet-name>NewsDelete</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDelete</servlet-name>
    <url-pattern>/admin/NewsDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsInitEdit</display-name>
    <servlet-name>NewsInitEdit</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsInitEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsInitEdit</servlet-name>
    <url-pattern>/admin/NewsInitEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsEdit</display-name>
    <servlet-name>NewsEdit</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsEdit</servlet-name>
    <url-pattern>/admin/NewsEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsDetail</display-name>
    <servlet-name>NewsDetail</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.NewsDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDetail</servlet-name>
    <url-pattern>/admin/NewsDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexQuerySerlvet</display-name>
    <servlet-name>IndexQuerySerlvet</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.IndexQuerySerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexQuerySerlvet</servlet-name>
    <url-pattern>/IndexQuerySerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.cqut.recruitPortal.servlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
</web-app>