<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/高级Java实验/src/实验四/utils/XmlReaderFromDB.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="实验四.utils.XmlReaderFromDB"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="高级Java实验"/>
</launchConfiguration>
